* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    background-color: black;
}

.footer-images {
    height: 50px;
    width: 50px;
    border-radius: 10rem;
}

.personal-col {
    background-color: green;
    position: relative;
    height: 300px;
    border-radius: 20px;
    position: relative;
}

.hobbies-col {
    background-color: yellow;
    border-radius: 20px;
}

.first-row {
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
}

.education-col {
    background-color: blueviolet;
    border-radius: 20px;
}

.form-login {
    height: 1000px;
    width: 800px;
}

.border {
    background-color: rgb(163, 149, 149);
}

.dev-profile {
    height: 200px;
    width: 200px;
}

p {
    color: white;
}

#logout-btn {
    color: rgb(216, 82, 82);
    background-color: azure;
    font-family: 'Times New Roman';
}

.navbar {
    background-color: rgb(169, 125, 125);
    border-radius: 10px;
}